@import "tailwindcss";

@layer base {
  :root {
    --bg-soft: #120a0f;
    --text-main: #fdf8f6;
    --primary-pink: #ec4899;
    --soft-pink: #fbcfe8;
    --accent-gold: #d4af37;
  }

  body {
    background-color: #120a0f !important;
    color: var(--text-main);
    font-family: var(--font-sans), sans-serif;
    overflow-x: hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #120a0f;
}

::-webkit-scrollbar-thumb {
  background: #db2777;
  border-radius: 9999px;
}
