@import "tailwindcss";

@layer base {
  :root {
    --bg-soft: #120a0f;
    --text-main: #fdf8f6;
    --primary-pink: #ec4899;
    --soft-pink: #fbcfe8;
    --accent-gold: #d4af37;
  }

  body {
    background-color: #120a0f !important;
    color: var(--text-main);
    font-family: var(--font-sans), sans-serif;
    overflow-x: hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #120a0f;
}

::-webkit-scrollbar-thumb {
  background: #db2777;
  border-radius: 9999px;
}

/* footprints */
@keyframes star-movement-bottom {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-40%);
  }
}

@keyframes star-movement-top {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(40%);
  }
}

.animate-star-top {
  animation: star-movement-top 4s ease-in-out infinite alternate;
  will-change: transform;
}

.animate-star-bottom {
  animation: star-movement-bottom 4s ease-in-out infinite alternate;
  will-change: transform;
}
